
.flex {
    display: flex;
    grid-gap: 40px;
    justify-content: center;
}

.dropdown {
    color: #282c34;
}

input[type="text"] {
    width: 300px;
    align-content: end;
}

input[type="time"] {
    width: 90px;
}

#create-event-button {
    border-radius: 5px;
    width: 120px;
}