
.responses-row {
    table-layout: fixed;
    overflow-x: hidden;
}

.responses-name {
    text-align: left;
    vertical-align: baseline;
}

.responses-range {
    vertical-align: top;
}

.responses-required {
    width: 45px;
    vertical-align: top;
}



.flex {
    display: flex;
    grid-gap: 40px;
    justify-content: center;
}

.dropdown {
    border-color: #101043;
}

input[type="text"] {
    width: 300px;
    align-content: end;
}

input[type="time"] {
    width: 90px;
}

#create-event-button {
    border-radius: 5px;
    width: 120px;
}

#advanced-settings-button{
    font-size: 12px;
    border-radius: 10px;
    outline: none;
}

.left {
    width: 50%;
    text-align: left;
}

.right {
    width: 50%;
    text-align: right;
}

.box {
    padding-top: 5px;
}