.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #101043;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody td {
    border-right: 1px solid #dddddd;
}
/*
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
 */

col:first-child {
    background: #FF0
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #101043;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #101043;
}

th {
    text-align: center;
}

.timeslotHour {
    border-top: 1px solid #dddddd;
}

.timeslotClickable:hover {
    background-color: #71c9e2;
}

.timeslotUnavailable {
    background-color: #000000;
}

.timeslotHourTitleCell {
    vertical-align:top;
    display:inline-block;
    *display:inline;
    height: 30px;
    width:70px;
    font-size:11px;
    margin-top: 0px;
    background-color: #282c34;
    color: white;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
