.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    //table-layout:fixed;
    //word-wrap: break-word;
}
.styled-table thead tr {
    background-color: #101043;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody td {
    border-right: 1px solid #dddddd;
}
/*
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
 */

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #101043;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #101043;
}

th {
    text-align: center;
}

/*
.timeslotClickable:hover,
.timeslotClickableHour:hover,
.timeslotClickableHalfHour:hover{
    background-color: #71c9e2;
}
*/

.timeslotClickableHour{
    border-top: 2px solid #282c34;
}

.timeslotClickableHalfHour{
    border-top: 1px dotted #51535a;
}

.timeslotUnavailable{
    background-color: #282c34;
}

.timeslotHourTitleCell {
    vertical-align:top;
    display:inline-block;
    *display:inline;
    height: 12px;
    width:70px;
    font-size:11px;
    margin-top: 0;
    background-color: #282c34;
    color: white;
}

.styled-table tbody tr td:first-of-type {
    background-color: #282c34;
    border: #282c34;
}

/*
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
*/